<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.renren.modules.other.mapper.FooMapper">

  <insert id="save" parameterType="io.renren.modules.other.entity.Foo">
    insert into foo
    (
    `a`,
    `b`,
    `c`,
    `d`
    )
    values
    (
    #{a},
    #{b},
    #{c},
    #{d}
    )
  </insert>

</mapper>